<title>{{title}}</title>
<div class="section section-full-screen section-signup" style="background-image: url('assets/img/city.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card card-signup">
          <form class="form" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <div class="header header-primary text-center">
              <h4>Sign Up</h4>
             
            </div>
            <p class="text-divider">register admin account</p>
            <div class="content">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
                <div class="form-group is-empty">
                  <input [(ngModel)]="model.firstName" #firstName="ngModel" name="firstName" type="text" class="form-control" placeholder="First Name..." required><span class="material-input"></span></div>
                  <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                
                </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
                <div class="form-group is-empty">
                  <input [(ngModel)]="model.lastName" name="lastName"  #lastName="ngModel" type="text" class="form-control" placeholder="Last Name..."><span class="material-input"></span></div>
                  <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                  
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">email</i>
                </span>
                <div class="form-group is-empty">
                  <input [(ngModel)]="model.email" name="email" #email="ngModel" type="email" class="form-control" placeholder="Email..."><span class="material-input"></span></div>
                  <div *ngIf="f.submitted && !email.valid" class="help-block">email is required</div>
                  
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <div class="form-group is-empty">
                  <input [(ngModel)]="model.password" name="password" #password="ngModel" type="password" placeholder="Password..." class="form-control"><span class="material-input"></span></div>
                  <div *ngIf="f.submitted && !password.valid" class="help-block">First Name is required</div>
                  
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <div class="form-group is-empty">
                  <input name="confirmPassword" [(ngModel)]="confirmPassword"  type="password" name="confirmPassword" placeholder="Confirm Password..." class="form-control"><span class="material-input"></span></div>
<!--                   <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">confirm password</div> -->
                </div>
               
            </div>
            <div class="footer text-center">
              <button href="#pablo"  class="btn btn-simple btn-primary btn-lg">Register Account</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>